<div class="col-md-6 user-container">
  <h2 style="margin: auto"> Lista zakupów</h2>
  <button class="btn btn-danger" style="width:150px" routerLink="/addProduct"> Dodaj produkt</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Produkt</th>
      <th>Ilość</th>
      <th>Jednostka</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td class="hidden">{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.amount}}</td>
      <td>{{product.unit}}</td>
      <td><button class="btn btn-success" (click)="deleteProduct(product)"> Usuń</button>
        <button class="btn btn-success" routerLink="/editProduct" style="margin-left: 20px;"> Zmień</button></td>
    </tr>
    </tbody>
  </table>
</div>
