<div class="user-container">
  <h2 style="margin: auto"> Lista zakupów</h2>
  <div class="row">
    <button class="btn btn-danger" style="width:150px" routerLink="/addProduct"> Dodaj produkt</button>
    <input class="form-control" type="text" placeholder="Nazwa produktu" #productName>
    <button class="btn btn-success" (click)="searchProduct(productName.value)" style="margin-left: 20px;">Szukaj</button>
    <button class="btn btn-primary" (click)="getProduct()" style="margin-left: 20px;">Pokaż listę</button>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Produkt</th>
      <th>Ilość</th>
      <th>Jednostka</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products.products">
      <td class="hidden">{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.amount}}</td>
      <td>{{product.unit}}</td>
      <td><button class="btn btn-success" (click)="deleteProduct(product)"> Usuń</button>
        <button class="btn btn-success" (click)="editProduct(product)" style="margin-left: 20px;"> Zmień</button></td>
    </tr>
    </tbody>
  </table>
</div>
